<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Streaming</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <div class="w-full max-w-[1120px] mx-auto h-screen bg-slate-300"></div>
  </body>
</html>
